.card__{
    max-width: 600px;
}
.button-back{
    position: absolute;
    top: 10px;
    left: 10px;

    border-radius: 50%;
    width: 40px;
    height: 40px;

    color: #17a2b8;
    font-size: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background: rgb(240, 240, 240);
    }
}